/* BreakPoints */
$break-mobile: 320px;
$break-tablet: 600px;
$break-desktop: 1024px;

/* Colors */
$purple-500: #7028FC;

$gray-150: #DFDADA;
$gray-200: #EDEDED;
$gray-220: #777;
$gray-250: #414040;

$red-300: red;

$white: #FFFFFF;
