@import '../../../assets/scss';
.card {
    @include organizedColumn(space-between);
	padding: 10px;
	border-radius: 10px;
	margin: 16px;
	border: 1px solid $gray-150;
	&:hover {
		border: 2px solid $purple-500;
		padding: 9px;
	}
	&__image {
		margin: 0 auto;
		max-width: 200px;
		border-radius: 10px;
	}
	&__content {
		padding: 10px;
		font-size: 14px;
		font-weight: 600;
		color: $gray-250;

		&--model {
			font-weight: 400;
		}

		&--price {
			font-size: 2rem;
			color: $gray-220;
			margin: 8px 0;
		}
	}
}
