.products-container {
    margin: 8px;
    background-color: white;
    border-radius: 8px;
}

@media screen and (min-width: 35em) {
    .products-container {
        margin: 72px;
    }
}

@media screen and (min-width: 45em) {
    .products-container {
        margin: 80px 40px;
    }
}

@media screen and (min-width: 70em) {
    .products-container {
        margin: 80px;
    }
}