.breadcrumbs,
.bc,
.content {
	display: flex;
}

.breadcrumbs {
	display: flex;
	align-items: center;
	&__item {
		align-items: center;
		white-space: nowrap;
		overflow: hidden;
	}
}

.breadcrumbs span {
	display: flex;
	align-items: center;
}
